@font-face {
 font-family: 'Roboto';
 src: local('Roboto'), local('Roboto-Regular'), url('https://bootstraptema.ru/snippets/font/2016/roboto/roboto.woff2') format('woff2'), url('https://bootstraptema.ru/snippets/font/2016/roboto/roboto.woff') format('woff'), url('https://bootstraptema.ru/snippets/font/2016/roboto/roboto.ttf') format('truetype');
 font-weight: 400;
 font-style: normal;
}
.blog_box h3{
 font: 300 20px/25px Roboto, sans-serif;
 text-transform:uppercase;
 margin-top:1em;
}
.blog_box h3 a{
 color:#000;
}
.blog_box h3 a:hover{
 color:#2cb149;
 text-decoration:none;
}
.blog_box p{
 font: 300 16px/25px Roboto, sans-serif;
 color:#999;
 line-height:1.8em;
 margin-bottom: 2em;
}
.blog_box{
 margin-bottom: 2em;
}
.links{
 padding:0.5em 0;
}
.links ul{
 padding:0;
 list-style:none;
}
.links li{
 padding:0;
 list-style:none;
}
.links ul li {
 display: inline-block;
 margin-right: 20px;
 font: 300 16px/25px Roboto, sans-serif;
 color:#999;
}
i.blog-icon{
 color:#2cb149;
 margin-right: 10px;
}

a.mask {
 text-decoration: none;
 overflow: hidden;
 display: block;
}
img.zoom-img:hover {
 -webkit-transform: scale(1.15);
 -webkit-transition-timing-function: ease-out;
 -webkit-transition-duration: 750ms;
 -moz-transform: scale(1.15);
 -moz-transition-timing-function: ease-out;
 -moz-transition-duration: 750ms;
 overflow: hidden;
}
img.zoom-img {
 -webkit-transform: scale(1, 1);
 -webkit-transition-timing-function: ease-out;
 -webkit-transition-duration: 250ms;
 -moz-transform: scale(1, 1);
 -moz-transition-timing-function: ease-out;
 -moz-transition-duration: 250ms;
}
.btn1 {
 border: none;
 font-family: inherit;
 font-size: inherit;
 font-weight: bold;
 color: inherit;
 background: none;
 cursor: pointer;
 padding: 20px;
 text-align:center;
 display: inline-block;
 margin: 15px 0 0;
 text-transform: uppercase;
 letter-spacing: 1px;
 outline: none;
 position: relative;
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
 transition: all 0.3s;
 width: 32%;
}
.btn-8c:hover {
 -webkit-transform: rotateY(15deg);
 -moz-transform: rotateY(15deg);
 -ms-transform: rotateY(15deg);
 transform: rotateY(15deg);
 text-decoration:none;
 background:#2cb149;
 color:#fff;
}
.btn1:after {
 content: '';
 position: absolute;
 z-index: -1;
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
 transition: all 0.3s;
}
.btn-8 {
 display: block;
 background:#ffde00;
 outline: 1px solid transparent;
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 transform-style: preserve-3d;
}